@import "tailwindcss";





body {
    background: #0f0f10;
    color: #fff;
  }
  
  input,
  textarea {
    color: teal;
  }
  
  select option {
    color: black;
  }


.slick-dots li button:before {
  color: white !important;
  opacity: 0.75;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
}
